<!DOCTYPE html>

<ion-item lines="full">
  <ion-toggle color="primary" [disabled]="this.disableBecauseFlyMode" [(ngModel)]="this.switchOn" (click)="this.switch()"></ion-toggle
  ><ion-label>Switch ALL</ion-label>
</ion-item>

<ion-grid>
  <ion-list>
    <ion-row class="ion-align-items-center" *ngFor="let item of items">
      <ion-item>
        <app-item
          [disableBecauseFlyMode]="this.disableBecauseFlyMode"
          [dataValue]="item"
          (emit)="switchAllBecauseFlyMode($event)"
          (emitItself)="this.updateChildren($event)"
        ></app-item>
      </ion-item>
    </ion-row>
  </ion-list>
</ion-grid>
